<form method="post" action='/articles/<%= @article.id %>'>

	<p><%= @article.title %></p>
	<p><%= @article.content %></p>

	<input id="hidden" type="hidden" name="_method" value="PATCH">
	Title: <input id='title' type="text" name="title">
	Content: <input id='content' type="text" name="content">

	<input id="submit" type="submit">
</form>

