<form action="/articles/<%= @article.id %>" method="post">
   <%# The 'action' attribute of the form tag tells which route should the form send its data to. In this case it will be sent to the specific article with the id number set by the params(user's input). The form data will be post into the 'patch' controller action %>
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input id="title" type="text" name="article[title]" value="<%= @article.title %>">
  <%# The value is the attribute of the specific article instance variable which was grabbed by Active Record based on the params of id number. The name is the value of the title, which is the key of the hash article migrated from the articles table. %>
  <textarea id="content" type="text" name="article[content]" value="<%= @article.content %>">
    </textarea>
  <input type="submit">
</form>
