<h1>Articles</h1>
<form action="/articles" method="post">
  Article Title:  <input type="text" id="title" name ="article[title]"><br>
  Article Content:  <input type="text" id="content" name ="article[content]"><br>
<input type="submit" value="Submit">
</form>
