<h1>New Article</h1>

<form method="post" action="/articles">
  <label for="title">Title: </label>
  <input type="text" name="title">

  <label method="post" for="/articles">Content: </label>
  <input type="text" name="content">

  <input type="submit">
</form>
