<form action="/articles" method="post">
    <label>Title: <input type="text" name="title"></label>
    <label>Content: <textarea name="content"></textarea></label>
    <input type="submit" id="submit">
</form>