<h1>Create a New Article!<h1>
<form action="/articles" method="post">
  <input type="text" name="article[title]" value="title"> #name becomes attribute of hash
  <input type="text" name="article[content]" value="content">
  <input type="submit" value="submit">
</form>
